/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .card-service svg:first-of-type {
        margin-top: -4rem;
    }
    .home-about .container-fluid {
        padding-left: 5rem;
    }
   .home-about .corner-svg {
        width: 18vw;

   }
   footer {
    padding-bottom: 1rem;
   }
   footer .logo-footer {
    margin-right: 1rem;
    margin-top: 1rem;
   }
}